$('#dialog_box').remove();
$('body').prepend('<div id="dialog_box"><a class="close_button">X</a><%= escape_javascript(render(:file => "bookmarks/confirm_destroy.html.erb")) %></div>');
$('#dialog_box').fadeOut(0).fadeIn(150);
$('#dialog_box .close_button').click(function() {
	$('#dialog_box .close_button').fadeOut(100, function(){
		$('#dialog_box').remove();
	});
	return false;
});