<section id="bookmarks">
	<% unless notice.blank? %><p id="notice"><%= notice %></p><% end %>
	<%= render 'bookmarks' %>
</section>
<!--
<footer>
	<%= render 'tag_cloud' %>
	<%= link_to 'New Bookmark', new_bookmark_path %>
</footer>
-->