.bundle
db/*.sqlite3
log/*.log
tmp/**/*


# Customized

db/*.sqlite3-journal # SQLite Journaling

# Mac meta data, to remove: find . -name '*.DS_Store' -type f -delete
.DS_Store

# Autoswap files
*~.nib
*.swp
*~