* {
	background: none;
	font-size: 100%;
	margin: 0;
	padding: 0;
  	vertical-align: baseline;
	font-family: Tahoma, Arial, sans-serif;
	line-height: 100%;
}
body {
	font-size: 10px;
	position: relative;
}
a,
a:visited {
	color: #038;
	text-decoration: none;
}
a:hover {
	color: #09d;
}

body,
header,
.ajax_spinner {
	width: 40em;
	overflow: hidden;
}

/* Form */
textarea,
input[type="text"] {
	padding: .3em 0;
	font-size: 130%;
	letter-spacing: .1em;
	font-family: 'Monaco', 'Consolas', 'Lucida Console', 'Profont', 'Andale Mono', monospace;
	font-size: 11pt;
	line-height: 100%;
}

input[type="text"] {
	text-indent: .3em;
}
/* Layout */
header,
.ajax_spinner {
	height: 6em;
	position: relative;
	text-shadow: white 0 1px 0px;
	z-index: 50;
}
.ajax_spinner {
	background: white;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	text-align: center;
	opacity: .5;
}
.ajax_spinner img {
	padding-top: 1em;
}
.results {
	clear: both;
	overflow: auto;
	overflow-y: auto;
	overflow-x: hidden;
	height: 33.2em; /* 40 - header|height - margin-top - borders */ 
	margin-top: .3em;
	border: .2em solid #ddd;
	border-radius: 3pt;
	-webkit-border-radius: 3pt;
	-moz-border-radius: 3pt;
	background: #f8f8f8;
}
.search,
.new_boomark_button,
form :not(.search) input,
textarea {
	border: .2em solid #ddd;
	border-radius: 2pt;
	-webkit-border-radius: 3pt;
	-moz-border-radius: 3pt;	
	background: #fdfdfd;
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.18, rgb(255,255,255)),
	    color-stop(0.94, rgb(242,242,242)),
	    color-stop(0.95, rgb(232,232,232))
	);
	background: -moz-linear-gradient(
	    center bottom,
	    rgb(255,255,255) 18%,
	    rgb(242,242,242) 94%,
	    rgb(232,232,232) 95%
	);
	text-shadow: none;
	margin-bottom: .6em;
}

form :not(.search) input[type="submit"] {
	text-shadow: #ffc 0 1px 0px;
	background: #f6f6f6;
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.43, rgb(230,230,230)),
	    color-stop(0.71, rgb(255,255,255)),
	    color-stop(0.86, rgb(245,245,245))
	);
	background: -moz-linear-gradient(
	    center bottom,
	    rgb(230,230,230) 43%,
	    rgb(255,255,255) 71%,
	    rgb(245,245,245) 86%
	);
	color: #022;
	cursor: pointer;
}
form :not(.search) input[type="submit"]:hover {
	background: #eaeaea;
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.43, rgb(214,214,214)),
	    color-stop(0.71, rgb(245,245,245)),
	    color-stop(0.83, rgb(240,240,240))
	);
	background: -moz-linear-gradient(
	    center bottom,
	    rgb(214,214,214) 43%,
	    rgb(245,245,245) 71%,
	    rgb(240,240,240) 83%
	);
	color: black;
	cursor: pointer;
}
.new_bookmark input,
.edit_bookmark input,
textarea {
	box-shadow: 0px 1px 1px #ddd;
	-webkit-box-shadow: 0px 1px 1px #ddd;
	-moz-box-shadow: 0px 1px 1px #ddd;
	vertical-align: top;
	width: 98%;
}
textarea {
	height: 18em;
	width: 96%;
	padding: 1%;
}
input[type="submit"] {
	clear: both;
}
form input[type="submit"] {
	padding: .2em;
	font-size: 130%;
}
label {
	display: block;
	width: 3em;
	margin-bottom: .5em;
	font-size: 130%;
}
header form,
header input {
	width: 100%;
	border: 0;
}
.pagination,
.sorting {
	float: left;
}
.sorting select {
	width: 3.5em;
	height: 1.67em;
}
.pagination {
	margin-right: 10.75em;
}
.sorting select,
.sorting a,
.pagination a,
.pagination em,
.pagination span {
	border: 1pt solid #bbb;
	border-radius: 3pt;
	-webkit-border-radius: 3pt;
	-moz-border-radius: 3pt;
	color: black;
	font-size: 130%;
	font-family: 'Trebuchet MS', 'Arial', Tahoma, Geneva, sans-serif;
	line-height: 150%;
	padding: 0 2pt;
	margin-bottom: .3em;
}
.sorting a,
.pagination a,
.pagination em,
.pagination span {
	float: left;
	margin-right: 2pt;
}
.sorting select,
.sorting a,
.pagination a,
.new_boomark_button {
	background: #f5f5f5;
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.43, rgb(230,230,230)),
	    color-stop(0.71, rgb(255,255,255)),
	    color-stop(0.86, rgb(245,245,245))
	);
	background: -moz-linear-gradient(
	    center bottom,
	    rgb(230,230,230) 43%,
	    rgb(255,255,255) 71%,
	    rgb(245,245,245) 86%
	);
	box-shadow: 0px 1px 1px #ddd;
	-webkit-box-shadow: 0px 1px 1px #ddd;
	-moz-box-shadow: 0px 1px 1px #ddd;
}
.sorting a:hover,
.pagination a:hover,
.new_boomark_button:hover {
	background: #eaeaea;
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.43, rgb(214,214,214)),
	    color-stop(0.71, rgb(245,245,245)),
	    color-stop(0.83, rgb(240,240,240))
	);
	background: -moz-linear-gradient(
	    center bottom,
	    rgb(214,214,214) 43%,
	    rgb(245,245,245) 71%,
	    rgb(240,240,240) 83%
	);
	box-shadow: 0px 0px 1px #ddd;
	-webkit-box-shadow: 0px 0px 1px #ddd;
	-moz-box-shadow: 0px 0px 1px #ddd;
}
.pagination em,
.pagination span {
	background: #ededed;
	opacity: .5;
}
.pagination .previous_page,
.pagination .next_page {	
	width: 2em;
	text-align: center;
}
.pagination a:not(.previous_page):not(.next_page),
.pagination em {
	width: 1.3em;
	text-align: center;
}
.sorting {
	position: absolute;
	height: 1.67em;
	right: 0;
}
.sorting a:hover,
.sorting a.sort_current:hover {
	background: #eaeaea;
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.43, rgb(214,214,214)),
	    color-stop(0.71, rgb(245,245,245)),
	    color-stop(0.83, rgb(240,240,240))
	);
	background: -moz-linear-gradient(
	    center bottom,
	    rgb(214,214,214) 43%,
	    rgb(245,245,245) 71%,
	    rgb(240,240,240) 83%
	);
	box-shadow: 0px 0px 1px #ddd;
	-webkit-box-shadow: 0px 0px 1px #ddd;
	-moz-box-shadow: 0px 0px 1px #ddd;
}
.sorting a.sort_current {
	background: #eaeaea;
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.43, rgb(214,214,214)),
	    color-stop(0.71, rgb(245,245,245)),
	    color-stop(0.83, rgb(240,240,240))
	);
	background: -moz-linear-gradient(
	    center bottom,
	    rgb(214,214,214) 43%,
	    rgb(245,245,245) 71%,
	    rgb(240,240,240) 83%
	);
	box-shadow: 0px 0px 1px #ddd;
	-webkit-box-shadow: 0px 0px 1px #ddd;
	-moz-box-shadow: 0px 0px 1px #ddd;
}
.sorting .sort_current.sort_asc:after,
.sorting .sort_current.sort_desc:after {
	font-family: monospace;
	padding-left: .2em;
	float: right;
	opacity: .67;
}
.sorting .sort_current.sort_asc:after {
	content: '\25BC';
}
.sorting .sort_current.sort_desc:after {
	content: '\25B2';
}
.bookmark {
	font-size: 120%;
	border-bottom: 2pt solid #ddd;
	padding: .4em;
	padding-bottom: .5em;
	position: relative;
}
.bookmark:last-child {
	border-bottom: 0;
	box-shadow: 0px 1px 3px #ddd;
	-webkit-box-shadow: 0px 1px 3px #ddd;
	-moz-box-shadow: 0px 1px 3px #ddd;
}
.bookmark.odd {
	background: #f8f8f8;
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.2, rgb(245,245,245)),
	    color-stop(0.93, rgb(250,250,250)),
	    color-stop(0.8, rgb(250,250,250))
	);
	background: -moz-linear-gradient(
	    center bottom,
	    rgb(245,245,245) 20%,
	    rgb(250,250,250) 93%,
	    rgb(250,250,250) 80%
	);
}
.bookmark.even {
	background: #fefefe;
}
.bookmark .protocol {
	display: inline-block;
}
.bookmark .protocol a {
	display: inline-block;
	font-size: 120%;
	color: #038;
	text-decoration: none;
	font-weight: bold;
	border-radius: 3pt;
	-webkit-border-radius: 3pt;
	-moz-border-radius: 3pt;
	border: .1em solid transparent;
	padding-right: .3em;
	padding-left: .2em;
	font-family: 'Monaco', 'Consolas', 'Lucida Console', 'Profont', 'Andale Mono', monospace;
	font-weight: normal;
	max-width: 23em;
	text-shadow: #ffc 0 1px 0px;
}
.bookmark .protocol:hover a:before,
.bookmark .protocol a:hover {
	color: white;
	background: #038;
	text-shadow: black 0 1px 0px;
}
.bookmark .protocol a:before {
	font-weight: normal;
	font-size: 75%;
	font-family: 'Trebuchet MS', 'Trebuchet', sans-serif;
	vertical-align: baseline;
	padding-right: .3em;
	content: attr(class)
}
.bookmark .tags li {
	display: inline;
	text-transform: capitalize;
}
.tags {
	clear: both;
}
.bookmark .actions {
	position: absolute;
	top: .4em;
	right: .4em;
}
.tags a,
.bookmark .actions a,
.bookmark .actions input {
	float: left;
	font-family: 'Trebuchet MS', sans-serif;
	border: 1pt solid #ddd;
	border-radius: 3pt;
	-webkit-border-radius: 3pt;
	-moz-border-radius: 3pt;
	border: 1pt solid silver;
	text-decoration: none;
	font-weight: bold;
	color: #022;
	text-shadow: #ffc 0 1px 0px;
	background: #f6f6f6;
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.43, rgb(230,230,230)),
	    color-stop(0.71, rgb(255,255,255)),
	    color-stop(0.86, rgb(245,245,245))
	);
	background: -moz-linear-gradient(
	    center bottom,
	    rgb(230,230,230) 43%,
	    rgb(255,255,255) 71%,
	    rgb(245,245,245) 86%
	);
}
.tags a {
	margin-top: .3em;
	margin-right: .4em;
}
.bookmark .actions a,
.bookmark .actions input {
	margin-left: .35em;
	width: .9em;
	text-align: center;
}
.tags a,
.bookmark .actions a {
	line-height: 120%;
	padding-left: .2em;
	padding-right: .2em;
	height: 1.2em;
}
.bookmark .actions input {
	clear: none;
	margin-left: .2em;
	font-size: 100%;
	height: 1.40em;
	padding: .2em .4em;
}
.tags a:hover,
.bookmark .actions a:hover,
.bookmark .actions input:hover {
	background: #eaeaea;
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.43, rgb(214,214,214)),
	    color-stop(0.71, rgb(245,245,245)),
	    color-stop(0.83, rgb(240,240,240))
	);
	background: -moz-linear-gradient(
	    center bottom,
	    rgb(214,214,214) 43%,
	    rgb(245,245,245) 71%,
	    rgb(240,240,240) 83%
	);
	color: black;
	cursor: pointer;
}
.bookmark .actions {
	vertical-align: bottom;
	float: right;
}
.bookmark .actions * {
	display: inline;
	margin: 0;
}
.bookmark.bookmark_hover {
	background: #eee;
	color: blue;
}
.no_results {
	padding: 1em;
	font-size: 120%;
}
.no_results * {
	line-height: 150%;
}
.no_results ul {
	list-style: square;
	padding-left: 1.45em;
}
.no_results h1,
.no_results h2 {
	padding-top: .6em;
	padding-bottom: .3em;
}
dt {
	font-weight: bold;
}
dd {
	padding-left: .7em;
	padding-bottom: .7em;
	text-align: justify;
}
a.new_boomark_button {
	position: absolute;
	top: 1pt;
	right: 0;
	border: 1px solid #ccc;
	font-size: 200%;
	line-height: 140%;
	height: 1.44em;
	padding: 0 .3em;
	font-weight: bold;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	color: #444;
	text-shadow: white 0 1px 0;
}

#confirm_destroy {
	border: .2em solid #ddd;
	border-radius: 3pt;
	-webkit-border-radius: 3pt;
	-moz-border-radius: 3pt;
	background: #f8f8f8;
	padding: 1em;
}
#confirm_destroy h2 {
	font-size: 130%;
}
#confirm_destroy .bookmark {
	margin: 1em 0;
	padding: .5em;
	border: .2em solid #ddd;
	border-radius: 3pt;
	-webkit-border-radius: 3pt;
	-moz-border-radius: 3pt;
	background: #f8f8f8;
	background: white;
}
#dialog_box #confirm_destroy {
	box-shadow: 0px 8px 16px #000;
	-webkit-box-shadow: 0px 8px 16px #000;
	-moz-box-shadow: 0px 8px 16px #000;
}

/* AJAX Confirmation Box */
#dialog_box {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 500;
	width: 100%;
	height: 100%;
	border: black;
	border-radius: 3pt;
	-webkit-border-radius: 3pt;
	-moz-border-radius: 3pt;
	background: rgba(0, 0, 0, 0.33);
}
#dialog_box > * { /* any container in #dialog_box gets a left/right margin */
	margin: 0 1.5em;
}
#dialog_box > *:first-child,
#dialog_box > *:first-child + * { /* the first container within #dialog_box gets a top margin */
	margin-top: 2em;
}
#dialog_box a.close_button {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	cursor: pointer;
	z-index: 600;
	border: .2em solid #ddd;
	border-radius: 3pt;
	-webkit-border-radius: 3pt;
	-moz-border-radius: 3pt;
	background: #f8f8f8;
	padding: .5em;
	font-weight: bold;
}
#dialog_box a.close_button:hover {
	cursor: pointer;
	background: #aaa;
	color: white;
}

#bookmarks {
	position: relative;
}
#bookmarks #notice {
	font-size: 130%;
	color: #551;
	position: absolute;
	top: .5em;
	left: 1em;
	right: 1em;
	padding: .5em 0;
	text-align: center;
	text-shadow: 0 1px 0px white;
	border: .2em solid #ddd;
	border-radius: 3pt;
	-webkit-border-radius: 3pt;
	-moz-border-radius: 3pt;
	background: #f8f8f8;
	z-index: 600;
	font-weight: bold;
	box-shadow: 0px 2px 3px #999;
	-webkit-box-shadow: 0px 2px 3px #999;
	-moz-box-shadow: 0px 2px 3px #999;
	opacity: .8;
}
#bookmarks header:hover #notice {
	display: none;
}