body {
	margin: 0;
	padding: .2em;
}
hr {
	border: 0;
	border: 1px solid #ccc;
	padding: 0;
	width: 100%;
	box-shadow: 0px 1px 3px #ccc;
	-webkit-box-shadow: 0px 1px 3px #ccc;
	-moz-box-shadow: 0px 1px 3px #ccc;
	border-radius: 1px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
}


a,
a:visited {
	color: #444;
}
a:hover {
	color: #fff;
	background-color:#000;
}


.results {
	border: 3pt solid silver;
	box-shadow: 0px 1px 3px #ccc;
	-webkit-box-shadow: 0px 1px 3px #ccc;
	-moz-box-shadow: 0px 1px 3px #ccc;
	border-radius: 3pt;
	-webkit-border-radius: 3pt;
	-moz-border-radius: 3pt;	
}
.results,
.bookmark,
.tags,
.results ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.bookmark h1,
.bookmark h2 {
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
}
.bookmark h1 small {
	font-size: 100%;
}
.bookmark h1 {
	display: inline;
}
.bookmark h2 {
	display: inline-block;
	padding-top: .3em;
}
.bookmark h2:after {
	content: ':';
}
.bookmark .tags {
	display: inline-block;
	padding-top: .3em;
}
.bookmark .tags li {
	display: inline-block;
	margin-top: .2em;
	text-transform: capitalize;
}
.bookmark .actions {
	display: inline-block;
}
.bookmark .actions li {
	display: inline;
}
.bookmark .actions a {
	text-decoration: none;
	padding: 1pt 2pt;
}
.bookmark {
	border-bottom: 1pt solid silver;
	padding: .5em;
}
.bookmark:last-child {
	border-bottom: 0;
}
.bookmark.odd {
	background: #f5f5f5;
}
.bookmark.even {
	background: #fafafa;
}
.bookmark h1 a {
	color: #038;
	text-decoration: none;
	font-weight: bold;
	border-radius: 3pt;
	-webkit-border-radius: 3pt;
	-moz-border-radius: 3pt;
	border: 1pt solid transparent;
	padding-right: 2pt;
	padding-left: 1pt;
}
.bookmark h1 a:hover {
	color: white;
	background: #038;
}
.tags a,
.bookmark .actions a,
.bookmark .actions input {
	font-family: 'Trebuchet MS', sans-serif;
	line-height: 120%;
	padding-left: 3pt;
	padding-right: 2.5pt;
	display: inline-block;
	border: 1pt solid #ccc;
	border-radius: 3pt;
	-webkit-border-radius: 3pt;
	-moz-border-radius: 3pt;
	border: 1pt solid silver;
	text-decoration: none;
	text-shadow: white 0 1px 1px;
	
	background: #f6f6f6;
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.43, rgb(230,230,230)),
	    color-stop(0.71, rgb(255,255,255)),
	    color-stop(0.86, rgb(245,245,245))
	);
	background: -moz-linear-gradient(
	    center bottom,
	    rgb(230,230,230) 43%,
	    rgb(255,255,255) 71%,
	    rgb(245,245,245) 86%
	);
}
.tags a:hover,
.bookmark .actions a:hover,
.bookmark .actions input:hover {
	background: #eaeaea;
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.43, rgb(214,214,214)),
	    color-stop(0.71, rgb(245,245,245)),
	    color-stop(0.83, rgb(240,240,240))
	);
	background: -moz-linear-gradient(
	    center bottom,
	    rgb(214,214,214) 43%,
	    rgb(245,245,245) 71%,
	    rgb(240,240,240) 83%
	);
	color: black;
	cursor: pointer;
}
.bookmark .actions {
	padding-top: 1pt;
	vertical-align: bottom;
}
.bookmark .actions * {
	float: left;
	margin: 0;
}
.bookmark .actions a,
.bookmark .actions input {
	margin-right: 3pt;
}
.bookmark .actions a {
	height: 1.3em;
}
.bookmark .actions input {
	padding-left: 5pt;
	padding-right: 5pt;
	font-weight: bold;
}

.protocol:before {
	font-weight: normal;
	color: #999;
	font-size: 75%;
	font-family: "Trebuchet MS", sans-serif;
	vertical-align: middle;
	padding-left: 1pt;
	padding-right: 2pt;
}
.protocol:hover:before {
	color: inherit;
}
.protocol.http:before {
	content: 'H';
}
.protocol.https:before {
	content: 'HS';
}
.protocol.ftp:before {
	content: 'F';
}
.protocol.chrome:before {
	content: 'C';
}
