textarea, input[type="text"] {
	font-family: 'Lucida Console', 'Andale Mono',  'Consolas', 'Monaco', monospace;
	font-size: 11pt;
	padding: 0 2pt;
	line-height: 100%;
	background: #aaa;
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.18, rgb(255,255,255)),
	    color-stop(0.94, rgb(242,242,242)),
	    color-stop(0.95, rgb(232,232,232))
	);
	background: -moz-linear-gradient(
	    center bottom,
	    rgb(255,255,255) 18%,
	    rgb(242,242,242) 94%,
	    rgb(232,232,232) 95%
	);
	text-shadow: none;
	border: 3pt solid silver;
	border-radius: 3pt;
	-webkit-border-radius: 3pt;
	-moz-border-radius: 3pt;
}
textarea {
	height: 15em;
	width: 40em;
}
label,
input {
	display: inline-block;
}
label {
	width: 5em;
}
input[type="text"] {
	width: 20em;
}
form input[type="submit"]:first-child {
	margin-left: 5.5em;
}


input[type="submit"],
select {
	border: 1pt solid #ccc;
	border-radius: 3pt;
	-webkit-border-radius: 3pt;
	-moz-border-radius: 3pt;
	padding: 2pt 3pt;
	background: #f6f6f6;
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.43, rgb(230,230,230)),
	    color-stop(0.71, rgb(255,255,255)),
	    color-stop(0.86, rgb(245,245,245))
	);
	background: -moz-linear-gradient(
	    center bottom,
	    rgb(230,230,230) 43%,
	    rgb(255,255,255) 71%,
	    rgb(245,245,245) 86%
	);
	box-shadow: 0px 1px 1px #ddd;
	-webkit-box-shadow: 0px 1px 1px #ddd;
	-moz-box-shadow: 0px 1px 1px #ddd;
	text-shadow: white 0 1px 1px;
	cursor: pointer;
	font-weight: bold;
	font-family: "Trebuchet MS", sans-serif;
	font-size: inherit;
}
input[type="submit"]:hover {
	background: #eaeaea;
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.43, rgb(214,214,214)),
	    color-stop(0.71, rgb(245,245,245)),
	    color-stop(0.83, rgb(240,240,240))
	);
	background: -moz-linear-gradient(
	    center bottom,
	    rgb(214,214,214) 43%,
	    rgb(245,245,245) 71%,
	    rgb(240,240,240) 83%
	);
	color: black;
	box-shadow: 0px 0px 1px #ddd;
	-webkit-box-shadow: 0px 0px 1px #ddd;
	-moz-box-shadow: 0px 0px 1px #ddd;
}
