table {
	border-collapse: collapse;
}
table, th, td, tr {
	margin: 0;
	padding: 0;
	border: 0;
	text-align: left;
	vertical-align: top;
}
th, td {
	border: 1pt solid #ccc;
	padding: 4pt 5pt;
}
td {
	background: rgba(0, 0, 0, 0.02);
	border-color: #ddd;
}
th {
	font-weight: bold;
	background: rgba(0, 0, 0, 0.07);
	border-bottom-width: 2pt;
}
table {
	width: 100%;
	box-shadow: 0px 3px 2px #ddd;
	-webkit-box-shadow: 0px 3px 2px #ddd;
	-moz-box-shadow: 0px 3px 2px #ddd;
}
table table {
	box-shadow: none;
}
th {
	empty-cells: hide;
}
th:empty {
	background: none;
	border: 0;
}
table .actions {
	text-align: center;
	font-size: 130%;
	line-height: 110%;
	vertical-align: top;
	padding: 4pt 2pt;
}
table .actions * {
	display: inline-block;
	vertical-align: bottom;
}
table .actions a {
	text-decoration: none;
	padding: 1pt 2pt;
}
table .actions a:visited {
	color: inherit;
}
table .actions form input {
	color: red;
	font-weight: bold;
}
table ul {
	margin: 0;
	padding: 0;
}
table li {
	text-transform: capitalize;
	display: inline;
}
table li:last-child:after {
	content: '';
}
table li:after {
	content: ',';
}